<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页 BUCT-SQLOJ</title>
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link href="/static/icon/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/home.js"></script>
</head>
<body>
<div class="ui top fixed menu">
    <div class="item" style="font-size: 18px">
        HUI BAN
    </div>
    <a class="active item" href="/">
        <img src="/static/icon/主页.svg" style="height: 15px;" alt="">
        首页
    </a>
    <a class="item" href="/conferences/1/">
        <img src="/static/icon/题目.svg" style="height: 15px;" alt="">
        会议
    </a>
    <a class="item" href="/journals/1/">
        <img src="/static/icon/竞赛.svg" style="height: 15px;" alt="">
        期刊
    </a>
    <a class="item" href="/special_issues/1/">
        <img src="/static/icon/排行榜.svg" style="height: 15px;" alt="">
        Special Issue
    </a>
    <div class="right menu" style="margin-right: 100px">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索...">
            </div>
        </div>
        <div class="item" id="button_username">
            <div class="ui primary button" onclick="location.href='/login/'">登入</div>
        </div>
    </div>
</div>


<div id="blank1"></div>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">会议</div>
<!--                <div class="meta">好友</div>-->
                <div class="description" id="conferences_counter">4773 </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">期刊</div>
<!--                <div class="meta">好友</div>-->
                <div class="description" id="journals_counter">1118</div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">科研人员</div>
<!--                <div class="meta">好友</div>-->
                <div class="description" id="users_counter">1000</div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">页面浏览</div>
                <!--                <div class="meta">好友</div>-->
                <div class="description" id="views">124124124 </div>
            </div>
        </div>
    </div>
</div>

<div id="blank2"></div>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui piled segment announcement">
            <h2 class="ui header">会议</h2>
            <table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
                <thead>
                <tr class="center aligned">
                    <th class="center aligned one wide">CCF</th>
                    <th class="center aligned one wide">简称</th>
                    <th class="center aligned four wide">全称</th>
                    <th class="center aligned two wide">截稿日期</th>
                    <th class="center aligned two wide">通知日期</th>
                    <th class="center aligned two wide">会议日期</th>
                    <th class="center aligned two wide">会议地点</th>
                    <th class="center aligned one wide">届数</th>

                </tr>
                </thead>
                <tbody id="conferences" class="center aligned">

                </tbody>
            </table>
            <a href="/">查看更多</a>
        </div>
        <div class="ui piled segment announcement">
            <h2 class="ui header">期刊</h2>
                <table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
                    <thead>
                    <tr class="center aligned">
                        <th class="center aligned one wide">CCF</th>
                        <th class="center aligned one wide">简称</th>
                        <th class="center aligned four wide">全称</th>
                        <th class="center aligned four wide">ISSN</th>
                        <th class="center aligned two wide">影响因子</th>
                        <th class="center aligned two wide">出版商</th>
                    </tr>
                    </thead>
                    <tbody id="journals" class="center aligned">

                    </tbody>
                </table>
            <a href="/">查看更多</a>
        </div>
    </div>
</div>


</body>

<style>
    #blank1 {
        width: 100%;
        height: 100px;
    }
    #blank2 {
        width: 100%;
        height: 50px;
    }

    #blank3 {
        width: 100%;
        height: 50px;
    }

    #button_username {
        padding: 0;
    }

    #announcement_list {
        width: 60%;
    }

    .announcement {
        margin: 100px;
    }

    p {
        font-size: 17px;
    }

    .user_3 {
        /*管理员*/
        color: red;
    }

    .user_2 {
        color: purple;
    }

</style>

</html>