<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>期刊 HUI BAN</title>
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link href="/static/icon/favicon.ico" rel="shortcut icon">
    <script src="/static/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/journal.js"></script>
</head>
<body>
<div class="ui top fixed menu">
    <div class="item" style="font-size: 18px">
        HUI BAN
    </div>
    <a class="item" href="/">
        <img src="/static/icon/主页.svg" style="height: 15px;" alt="">
        首页
    </a>
    <a class="item" href="/conferences/1/">
        <img src="/static/icon/题目.svg" style="height: 15px;" alt="">
        会议
    </a>
    <a class="active item" href="/journals/1/">
        <img src="/static/icon/竞赛.svg" style="height: 15px;" alt="">
        期刊
    </a>
    <a class="item" href="/special_issues/1/">
        <img src="/static/icon/排行榜.svg" style="height: 15px;" alt="">
        Special Issue
    </a>
    <div class="right menu" style="margin-right: 100px">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索...">
            </div>
        </div>
        <div class="item" id="button_username">
            <div class="ui primary button" onclick="location.href='/login/'">登入</div>
        </div>
    </div>
</div>

<div class="blank"></div>
<table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
    <thead>
    <tr class="center aligned">
        <th class="center aligned one wide">CCF</th>
        <th class="center aligned one wide">简称</th><th class="center aligned six wide">全称</th>
        <th class="center aligned two wide">ISSN</th>

        <th class="center aligned two wide">影响因子</th>
        <th class="center aligned two wide">出版商</th>
    </tr>
    </thead>
    <tbody id="journals" class="center aligned">

    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" onclick="prePage()">Previous</a></li>
        <li class="page-item"><a class="page-link" onclick="nextPage()">Next</a></li>
    </ul>
</nav>

<div class="blank"></div>

</body>

<style>
    #button_username {
        padding: 0;
    }
    .blank {
        width: 100%;
        height: 70px;
    }
    .pagination {
        margin-left: 600px;
    }

</style>

</html>